@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;1,400&family=Montserrat&family=Poppins:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;1,400&family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
}



html{
    scroll-behavior: smooth;
}

:root{
    --clr:#222327;
}

.container{}
   
  
.nav{
    /* height:100vh; */
    /* width:100vw; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:100%;
    height:4.5rem;
    /* background-color: rgb(198, 255, 190); */
    /* background-image:linear-gradient(
        to right, #00bfff, #00ffd5); */
    /* border-radius: 10px; */
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(211,40,219,1) 31%, rgba(0,212,255,1) 100%);
    
    position:fixed;
    
}

.nav-class{
    /* position:relative; */
    z-index: 1;
}

.active{
    background-color:rgb(0, 107, 110);
   
    border-radius:5px;

}

/* Nav Bar Section */


/* Another section */
.nav .logo{
    position: absolute;
    left:6rem;
    color:White;
    font-weight:bold;
    font-size:xx-large;
    /* cursor: pointer; */

}
ul{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    

    
    
    
}

 ul li{
    list-style-type: none; 

     
}
ul li:hover{
    background-color:rgb(0, 107, 110);
   
    border-radius:5px;
    
 
    
}

ul li a{
   text-decoration: none;
   /* color:rgba(0, 1, 41, 0.575); */
   font-weight: bolder;
   color:white;

 }
    


  .hero-section{
    height:100vh;
    width:100vw;
    background-image: url('./images/Hero\ Section1.png');
    display: flex;
    justify-content: center;
    /* position:relative; */
    
   }
  

  .hero-section button {
    position: absolute;
    bottom: -1px;
    left:600px; 
    padding:15px 40px; 
    border-radius: 5px;
    border:2px solid #ffffff;
    background-color: rgb(249, 255, 255);
    color: black;
    font-weight: bold;
    cursor: pointer;

    
}


.hero-section button a{
    text-decoration: none;
    color:black;
}

.hero-section button .bx{
    /* font-size: 30px; */
     
  
   }

     .hero-section button:hover{
        background-color: transparent;
        color:#ffffff;
        border:2px solid #ffffff;
        transition-duration: 0.2s;
      

     }

    .main-section{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height:100%;
        width:100%;
       
    }

    .left-img{
        
        /* width:50%; */
        width:50%;
        height:100%;
        object-fit:cover;
        display: grid;
        place-items: center;
       
        

        
        
        }

    .left-img .image{
        object-fit: cover;
        width:30rem;
        margin-top: 8rem;
        margin-left: 4rem;
        

        
        
    }

    .right-content .heading {

        display: flex;
        margin: 10px;
        gap:10px;
        
        /* max-width:400px; */
        
    }
    .right-content .heading .circle{
        height:40px;
        width:40px;
        border-radius: 50%;
        background: blue;
        
        /* position: absolute; */
        /* top:1px; */
    }

    .right-content h4{
        font-family: 'DM Sans', sans-serif;
        margin-top: 0.8rem;
        margin-right:0.8rem;
        font-size: larger;
    }

    .right-content{
        width:50%;
        max-width:350px;
        margin-right: 10rem;
        margin-top: 10rem;
       
      
    }

    .about{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height:100vh;
        width:100vw;
    }

    .about .left-content{
        width:50%;
        max-width:400px;
        margin-top: 6rem;
        margin-left: 10rem;
    }

    .about .right-image{
        width:50%;
        height:100%;
        object-fit:cover;
        display: grid;
        place-items: center;
    }

    .rightImage{

        object-fit: cover;
        width:35rem;
        margin-top: 10rem;
        margin-right: 4rem;
    }

  /* Contact Section */

    .contact{
        width:100vw;
        height:100vh;
        background:#ffffff;
        display:flex;
        justify-content: center;
        align-items: center;
        margin-top: 4rem;
    }

    form{
        background:#001660;
        display: flex;
        flex-direction: column;
        padding:2vw 4vw;
        width:90%;
        max-width:600px;
        border-radius: 10px;
    }
/* Top Contact Form */
    .hero-section .top-contact{
        background:#001660;
        width:30%;
        height:85%;
        display:flex;
        flex-direction: column;
        position:absolute;
        max-width:600px;
        top:5rem;
        right:10px;
        border-radius:30px;
        align-items:center;
        overflow-y: hidden;
        /* margin-top: 5rem;
        margin-left: 55rem; */
        /* z-index: -1; */
    }

    .top-contact h3{
        color:#ffff;
        font-weight: 800;
        margin-bottom: 20px;
        margin-top: 10px;
        overflow-y: hidden;
  } 


    .top-contact  input, .top-contact  textarea{
        border:0;
        border-radius: 10px;
        margin:10px 0;
        padding:20px;
        outline:none;
        width:75%;
        
        background:#f5f5f5;
        font-size: 1rem;
    }

    

    .top-contact .top-contact-btn{
        padding:1rem;
        background:#ff5361;
        color:white;
        font-size: 1rem;
        outline:none;
        cursor:pointer;
        width:7rem;
        text-align: center;
        margin-bottom: 1rem;
        border-radius: 2rem;
        overflow-y: hidden;
        
    }



    /* Top Contact Form CSS Ends Here */

    form h3{
        color:#ffff;
        font-weight: 800;
        margin-bottom: 20px;

    }



    form input, form textarea{
        border:0;
        border-radius: 10px;
        margin:10px 0;
        padding:20px;
        outline:none;
        background:#f5f5f5;
        font-size: 1rem;
    }

    form button{
        padding:1rem;
        background:#ff5361;
        color:white;
        font-size: 1rem;
        outline:none;
        cursor:pointer;
        width:10rem;
        margin:20px auto 0;
        border-radius: 2rem;
    }

    /* Footer Section */

    footer{
        background-color: #111;
    }

    .footerContainer{
        width:100%;
        padding:70px 30px 20px;
    }

    .socialIcons{
        display:flex;
        justify-content: center;
        align-items: center;

    }

    .socialIcons a {
        text-decoration: none;
        padding:8px 10px;
        padding-top: 9px;
        padding-bottom: 4px;
        background-color: #ffffff;
        margin:10px;
        border-radius: 100%;
       
        
    }

    .socialIcons a i{
        font-size: 2em;
        color:black;
        opacity:0.9;
    }

    /* hover effect on social media icons */

    .socialIcons a:hover{
    background-color:#111;
    transition: 0.5s;
    }

    .socialIcons a:hover i{
        color:white;
        transition:0.5s
    }

    .footerNav ul{
        display:flex;
        justify-content: center;
    }

    .footerNav ul li a{
        color:white;
        margin:20px;
        text-decoration: none;
        font-size: 1.3em;
        opacity:0.7;
        transition:0.5s;
    }

    .footerNav ul li a:hover{
        opacity:1;

    }

    .footerBottom{
        background-color: #000;
        padding:20px;
        text-align: center;
    }

    .footerBottom p{
        color:white;
    }

    .designer{
        opacity:0.7;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 400;
        margin:0px 5px;

    }


    /* Services Page */


    .wrapper{
       margin: 0;
       padding: 0;
       min-height: 100vh;
       display:flex;
       justify-content: center;
       align-items: center;
    }

    .terms-box{
        max-width: 460px;
        background-color: #111;
        color:white;
        font-family: 'Montserrat', sans-serif;
        padding:60px 30px;
    }

    .terms-text{
        padding:0 20px;
        height:400px;
        overflow-y: auto;
        font-size: 14px;
        font-weight: 500;
        color:#f1f1f1;
    }

    .terms-text::-webkit-scrollbar{
        width:2px;
        background-color: #282828;

    }

    .terms-text::-webkit-scrollbar-thumb{
        background-color: #d13639;

    }

    .terms-text h2{
        text-transform: uppercase;
    }

    .terms-box h4{
        font-size: 13px;
        text-align: center;
        padding:0 40px;
    }

    .terms-box h4 span{
        color:#d13639;
    }

    .buttons{
        display:flex;
        padding:0 20px;
        justify-content: space-between;
    }

    .btnP{
        height:50px;
        width:calc(50% - 6px);
        border:0;
        border-radius: 6px;
        font-size: 19px;
        font-weight: 500;
        color:white;
        transition: .3s linear;
        cursor: pointer;
    }

    .redBtn{
        background-color: #d13639;
    }

    .grey-btn{
        background-color: #282828;
    }

    .btnP:hover{
        opacity:.6;
    }

    .BtnHome{
        padding:20px;
        display: flex;
        justify-content: center;
        align-items: center;
       
        
       
    }

    .homeBtn{
        text-decoration: none;
        color: black;
        /* background-color: aquamarine; */
    }

    /* services Page */

    .container{
        width:100%                                                                                                                                                                                  ;
        height:100vh;
        padding:0 8%;
    }

    .container h1{
        text-align: center;
        padding-top: 10%;
        margin-bottom: 60px;
        font-weight: 600;
        position: relative;
    }

    .container h1::after{
        content:'';
        background:#303ef7;
        width:100px;
        height:5px;
         position: absolute;
        bottom:-0.5px; 
        
        left:50%;
        transform:translateX(-50%);

    }

    .row{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-row-start:30px ;
    }

    .service{
        text-align: center;
        padding:25px 10px;
        border-radius:5px;
        font-size:14px;
        cursor:pointer;
        background:transparent;
        transition: transform 0.5s, background 0.5s;

        /* extra */
        
    }


    .not-avail{

        position:relative;
       
    }


    .content{
        width:100%;
        height:100%;
        top:0;
        left:0;
        position: absolute;
        /* background:rgba(255, 255, 255, 0.6); */
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        opacity:0;
        transition:0.6s;
    }

    .content:hover{
        opacity:1;
    }

   

    .service i{
        font-size:40px;
        margin-bottom:10px;
        color:#303ef7;

    }

    .service h2{
        font-weight: 600;
        margin-bottom:8px;
    }

    .service:hover{
        background: #303ef7;
        color:#fff;
        transform:scale(1);
    }

    .service:hover i{
        color:#fff;
        

    }
    
    .not-avail:hover{
        background-color: slategray;
    }

    .not-avail:hover i{
        opacity:0.5;
    }
    .not-avail:hover .work-process{
        opacity:0.5;
    }

    .content h2{
        font-size: 20px;
        color:#ffe100;
        margin-bottom: 15px;
    }

    .content > *{
        transform:translateY(25px);
        transition:transform 0.6s;
        
    }

    .content:hover > *{
        transform:translateY(0px);

    }

    #msg{
        color:white;
    }

    /* .not-avail:hover i{
        color:#fff;
        opacity:0.2;
    }

    .work-process:hover{
        color:#d13639;
        opacity:0.2;
    }
    */
        
    



    @media(max-width:700px){

        .footerNav ul{
            flex-direction: column;
        }

        .footerNav ul li{
            width:100%;
            text-align: center;
            margin: 10px;
        }

    }

